<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <title>Directives</title>

  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/cerulean/bootstrap.min.css" rel="stylesheet">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script type="text/javascript">
    angular.module("exampleApp", [])
      .controller("defaultCtrl", function ($scope, $location) {

        $scope.todos = [
          { action: "Get groceries", complete: false },
          { action: "Call plumber", complete: false },
          { action: "Buy running shoes", complete: true },
          { action: "Buy flowers", complete: false },
          { action: "Call family", complete: false }
        ];

        $scope.message = "Tap Me!";

      })
      .directive("tap", function () {
        return function (scope, elem, attrs) {
          elem.on("touchstart touchend", function () {
            $scope.$apply(attrs["tap"]);
          });
        }
      });
  </script>
</head>
<body>
  <div class="container">
    <div id="todoPanel" ng-controller="defaultCtrl">
      <h3 class="panel-header">To Do List</h3>

      <div class="well" tap="message = 'Tapped!'">
        {{message}}
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Action</th>
            <th>Done</th>
          </tr>
        </thead>
        <tr ng-repeat="item in todos" ng-class="$odd ? 'odd' : 'even'">
          <td>{{$index + 1}}</td>
          <td ng-repeat="prop in item">{{prop}}</td>
        </tr>
      </table>

    </div>
  </div>
</body>
</html>